DATA4LIBRARY_AUTH_KEY=replace_with_issued_key
KAKAO_REST_API_KEY=optional_for_place_name_search
ALADIN_TTB_KEY=optional_for_bookstore_metadata
PORT=3000
CACHE_TTL_SECONDS=21600
REQUEST_TIMEOUT_MS=5000
